@page "/verify-email/{userId}"
@using System.ComponentModel.DataAnnotations;
@inject NavigationManager navigationManager
@inject ISnackbar Snackbar
@layout EmptyLayout 
@inject CookieManagement cookieManager



<style>
    .mud-main-content {
        padding: inherit !important;
    }

    .mud-container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>
<PageTitle>Email Verification - SLICA</PageTitle>
<MudPaper Height="400px" Width="100%">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Height="400px" Width="100%" Style="background-color:#212121" Square="true">
            <div class="col-lg-8 offset-lg-4 col-sm-12 col-md-8 offset-md-4" style="padding:4rem;">
                <MudPaper Height="700px" Width="50%">
                    <MudCard Style="height:100%">
                        <MudCardContent>
                            <div class="text-center">
                                <MudItem>
                                    <MudImage Src="Images/logo.png" Alt="Slica Logo" Height="200" Width="250" Class="rounded-lg" />

                                </MudItem>

                            </div>
                            <MudElement HtmlTag="div" Class="text-center mt-2">

                                <MudIcon Icon="@icon" Color="@iconColor" Style="@($"font-size: 80px;")"></MudIcon>

                                <MudText Typo="Typo.h6" Color="Color.Dark">@message</MudText>
                            </MudElement>

                            
                        </MudCardContent>

                    </MudCard>
                </MudPaper>
            </div>

        </MudPaper>
    </MudContainer>


</MudPaper>