@page "/forgot-password"
@inject ISnackbar Snackbar
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject CookieManagement CookieManager

<style>
    .mud-main-content {
        padding: inherit !important;
    }

    .mud-container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>
<PageTitle>Forgot Password</PageTitle>
<MudPaper Height="400px" Width="100%">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Height="400px" Width="100%" Style="background-color:#212121" Square="true">
          
            @if(!isShow)
            {
            <div class="col-lg-8 offset-lg-4 col-sm-12 col-md-8 offset-md-4" style="padding:4rem;">
                <MudPaper Height="600px" Width="50%">
                    <MudCard Style="height:100%">
                        <MudCardContent>
                            <div class="text-center">
                                <MudItem>
                                    <MudImage Src="Images/logo.png" Alt="Slica Logo" Height="200" Width="250" Class="rounded-lg" />

                                </MudItem>

                            </div>
                            <div class="text-center">
                                <MudText Typo="Typo.h6">Forgot Your Password ?</MudText>
                            </div>
                            <div class="text-center">
                                <MudItem Class="pa-2">
                                    <MudText Typo="Typo.caption">Enter your registered e-mail address below to receive the <br /> password reset instructions. </MudText>
                                </MudItem>
                            </div>
                           
                            <EditForm Model="forgotUser">
                                <DataAnnotationsValidator />
                                <div class="row">
                                    <div class="col-12">
                                        <MudItem Class="pa-4">
                                            <MudTextField Class="black-border" For="@(() => forgotUser.Email)" @bind-Value="@forgotUser.Email" Label="Email" InputType="InputType.Email" />
                                        </MudItem>
                                    </div>
                               
                                </div>
                               
                                
                                <div class="row">
                                    <div class="col-8 offset-2">

                                        <MudItem Class="pa-4">
                                            <MudButton FullWidth="true" ButtonType="ButtonType.Submit" OnClick="SentEmail" Variant="Variant.Filled" Color="Color.Dark">Email Link</MudButton>

                                        </MudItem>
                                    </div>
                                </div>

                              
                            </EditForm>
                        </MudCardContent>

                    </MudCard>
                </MudPaper>
                </div>
            }
            else
            {
                <div class="col-lg-8 offset-lg-4 col-sm-12 col-md-8 offset-md-4" style="padding:4rem;">
                    <MudPaper Height="600px" Width="50%">
                        <MudCard Style="height:100%">
                            <MudCardContent>
                                <div class="text-center">
                                    <MudItem>
                                        <MudImage Src="Images/logo.png" Alt="Slica Logo" Height="200" Width="250" Class="rounded-lg" />

                                    </MudItem>

                                </div>
                                <div class="text-center">
                                    <MudText Typo="Typo.h6">Forgot Password Confirmation ?</MudText>
                                </div>
                                <div class="text-center">
                                    <MudItem Class="pa-2">
                                        <MudText Typo="Typo.caption">Email with password reset link has been sent to</MudText>
                                        <MudText Style="color:#594ae2;" Typo="Typo.overline">@forgotUser.Email</MudText>

                                    </MudItem>
                                </div>
                                <div class="text-center">
                                    <MudItem Class="pa-2">
                                        <MudText Typo="Typo.caption">If you did not receive the email please check your spam/junk <br> mail folder</MudText>

                                    </MudItem>
                                </div>
                                <div class="text-center">
                                    <MudItem Class="pa-2">
                                        <MudText Typo="Typo.caption">Alternatively, please contact our support team via <br> email to <a href="mailto:support@slica.com"><b>support@slica.com</b></a></MudText>

                                    </MudItem>
                                </div>

                            </MudCardContent>

                        </MudCard>
                    </MudPaper>
                </div>

            }
        </MudPaper>
    </MudContainer>


</MudPaper>
